@model BaldwinMIS4200.Models.Grade

@{
    ViewBag.Title = "Details";
}

<h2>Grade details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percentageGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percentageGrade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gradeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
