@model IEnumerable<BaldwinMIS4200.Models.Grade>

@{
    ViewBag.Title = "Index";
}

<h2>View grade</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-dark">
    <tr class="well well-lg">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentageGrade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.percentageGrade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.gradeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.gradeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.gradeID })
        </td>
    </tr>
}

</table>
